<ion-header>
  <ion-toolbar>

    <ion-title>
        <ion-icon name="arrow-back" (click)="warmup()"></ion-icon>
        Warmup 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  
    <div class="layout" > Layout </div>


    <p>{{ timer }}""</p>
    <round-progress 
    [current]="current " 
    [max]="max" 
    [color]="'#45ccce'" 
    [background]="'#eaeaea'"
    [radius]="90" 
    [stroke]="20" 
    [semicircle]="false" 
    [rounded]="true" 
    [clockwise]="false"
    [responsive]="false"
    [duration]="800" 
    [animation]="'easeInOutQuart'" 
    [animationDelay]="0">
  </round-progress>
  
    <div>
      <ion-icon name="arrow-dropleft" (click)="back()" class="arw" id="back"></ion-icon>
    </div>
  
    <div>
      <ion-icon name="arrow-dropright" (click)="next()" class="arw" id="next"></ion-icon>
    </div>
  
  
    <button (click)="start()" [hidden]="true" id="startwarmup3">Start</button>
    <button (click)="stop()">Stop</button>
  
</ion-content>
