p{
    position: absolute;
}

ion-card{
    height: 650px;
    position: absolute;
}

ion-button{
    width: 200px;;
    margin-top: 610px;
    margin-left: 105px;
}

img{
    margin-left: 280px;
    height: 100px;
    width: 100px;
}