<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        <ion-icon name="arrow-back" (click)="home()"></ion-icon>
        Warmup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <h1> Warming Up</h1>
   

  </div>


  <div>

    <ion-card>
      <ion-item class="float">

        <p>Warmup 1</p>

        
        <img src="../../assets/img/warmup1.jpg" class="img">

      </ion-item>

      <ion-item class="float">

        <p>Warmup 2</p>
   
        <img src="../../assets/img/warmup2.jpg" class="img">

      </ion-item>

      <ion-item class="float">
        <p>Warmup 3</p>
     
        <img src="../../assets/img/warmup3.jpg" class="img">
      </ion-item>


      <ion-item class="float">
        <p>Warmup 4</p>
  
        <img src="../../assets/img/warmup4.jpg" class="img">
      </ion-item>

      
      <ion-item class="float">
        <p>Warmup 5</p>
       
        <img src="../../assets/img/warmup4.jpg" class="img">
      </ion-item>

      
      <ion-item class="float">
        <p>Warmup 6</p>
        
        <img src="../../assets/img/warmup4.jpg" class="img">
      </ion-item>


      
      
    </ion-card>
    
    <ion-button (click)="startTimer()">
      S T A R T
    </ion-button>


  </div>
</ion-content>