<ion-header>
  <ion-toolbar>

    <ion-title>
        <ion-icon name="arrow-back" (click)="warmup()"></ion-icon>
        Warmup 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  
    <div class="layout" > Layout </div>


    <p>{{ timer }}</p>
  
  
    <div>
      <ion-icon name="arrow-dropleft" (click)="back()" class="arw" id="back"></ion-icon>
    </div>
  
    <div>
      <ion-icon name="arrow-dropright" (click)="next()" class="arw" id="next"></ion-icon>
    </div>
  
  
    <button (click)="start()" [hidden]="true" id="startwarmup4">Start</button>
    <button (click)="stop()">Stop</button>
  
</ion-content>
