.layout {
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 30px 30px 40px 20px; 
    margin: auto;
}


round-progress{
    margin-left: 115px;
    position: absolute;
}

.arw{
    height: 40px;
    width: 40px;
    margin-top: 80px;
}

#back{
    opacity: 0.5;
    position: absolute;
}

#next{
    float: right;
}

button{
    margin-left: 100px;
    margin-top: 300px;
}

p{
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
}
