p{
    position: absolute;
}

ion-item{
    text-align: center;
}

ion-button{
    width: 200px;
    margin-left: 105px;
}

img{
    margin-left: 280px;
    height: 100px;
    width: 100px;
}

  #bbtn{
    position: absolute;

  }

  #nbtn{
    float: right;
  }



  round-progress{
    position: relative;
    margin:auto;


  }

  .arw{
    margin-top: 100px;
    height: 50px;
    width: 50px;
  }

  // .stop{
  //   position: absolute;
  //   margin-top: 300px;
  // }

  .progress{
    position: relative;
    margin-left: 200px; 
    margin-top: 100px;
    
  }