p{
    position: absolute;
}

ion-item{
    text-align: center;
}

ion-button{
    width: 200px;
    margin-left: 105px;
}

img{
    margin-left: 280px;
    height: 100px;
    width: 100px;
}
ion-tab-bar{
    // --background: linear-gradient(to right, #color1 0%, #color2 100%);
    background: linear-gradient(to right, aqua , yellow);
    height: 30px;
  
  }

  #bbtn{
    position: absolute;

  }

  #nbtn{
    float: right;
  }



  round-progress{
    position: absolute;
    margin-left: 100px;


  }

  .arw{
    margin-top: 100px;
    height: 30px;
    width: 30px;
  }

  .stop{
    position: absolute;
    margin-top: 300px;
  }

  .progress{
    position: absolute;
    margin-left: 200px; 
    margin-top: 100px;
    
  }