.warmup{
    background: url('../../assets/img/warmups.png');
    background-position: center;
    background-size: 200px;
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    margin: auto;
    
}

ion-card{
    height: 50px;
    text-align: center;
    
}

.routines{
    background: url('../../assets/img/routines.png');
    height: 290px;
    width: 100%;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;

}