<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" (click)="home()"></ion-icon>
      Routines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="content" id="routin1"  >
      <ion-card-header>
        <ion-card-subtitle color="light">Static </ion-card-subtitle>
        <ion-card-title color="light">Routine 1</ion-card-title>
          <ion-button class="btnpadding" (click)="routinesS()">start</ion-button>
      </ion-card-header>
    </ion-card>

  <ion-card class="content" id="routin2">
      <ion-card-header>
        <ion-card-subtitle color="light">Dynamic </ion-card-subtitle>
        <ion-card-title color="light">Routine 2</ion-card-title>
        <ion-button class="btnpadding" (click)="routinesD()"> start</ion-button>
      </ion-card-header>
    </ion-card>
  
    
<ion-card class="content" id="custom">
  <ion-card-header>
    <ion-card-subtitle color="light">Add your favourite workouts </ion-card-subtitle>
    <ion-card-title color="light">My training</ion-card-title>
    <ion-button class="btnpadding" (click)="routinesC()"> start</ion-button>
  </ion-card-header>
</ion-card>

</ion-content>
