<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" (click)="home()"></ion-icon>
      Routines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="content">
    <ion-card-header>
      <div class="img"></div>
      <ion-card-subtitle>Static </ion-card-subtitle>
      <ion-card-title>Routine 1</ion-card-title>
      <ion-button class="btnpadding" (click)="routinesS()">start</ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card class="content">
      <ion-card-header>
        <div class="img"></div>
        <ion-card-subtitle>Dynamic </ion-card-subtitle>
        <ion-card-title>Routine 2</ion-card-title>
        <ion-button class="btnpadding" (click)="routinesD()"> start</ion-button>
      </ion-card-header>
    </ion-card>
  

<ion-card class="content" id="custom">
  <ion-card-header>
    <ion-card-subtitle>Add your favourite workouts </ion-card-subtitle>
    <ion-card-title>My training</ion-card-title>
    <ion-button class="btnpadding" (click)="routinesC()"> start</ion-button>
  </ion-card-header>
</ion-card>

</ion-content>
