#custom{
    background: url('../../assets/img/customroutines.jpg');
    background-position: right;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
#routin1{
    background: url('../../assets/img/routine1.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(104, 119, 117);
    
}



#routin2{
    background: url('../../assets/img/routine11.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: rgb(104, 119, 117);
    
}

.content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}

