ion-label{
    text-align: center;
}

ion-item{
    height: 100px;
    width: 100%;
    
    // position: absolute;
}

ion-button{
    position: absolute;
    margin-left: 300px;
}

img{
    margin-left: 80px;
    height: 100px;
    width: 100px;
}